{{#partial "content"}}
<div class="panel panel-info">
  <div class="panel-heading">
    <h4>Clojure on GitHub</h4>
  </div>
  <ul class="list-group">
    {{#each github-repository-search/items}}
    <li class="list-group-item">
      <img src="{{owner/avatar_url}}&size=32" width="32"/>
      <a href="{{html_url}}">{{full_name}}</a>
      <p>{{description}}</p>
    </li>
    {{/each}}
  </ul>
</div>
{{/partial}}
{{> layout}}