{{#partial "content"}}
<h1>Bookmark</h1>

<div id="accordion" class="list-group">
  {{#each hatena-my-bookmark/tags}}
  <div class="list-group-item">
    <a href="/hatena/show/{{tag}}?user_id=asakusabashi">{{tag}} ({{count}})</a>
  </div>
  {{/each}}
</div>
{{/partial}}
{{> layout}}
