{{#partial "content"}}
<h1>Bookmark</h1>

<div id="accordion" class="list-group">
  {{#each hatena-bookmark-feed/item}}
  <div class="list-group-item">
    <a href="{{link}}">{{title}}</a>
    {{{this.[content:encoded].[#text]}}}
  </div>
  {{/each}}
</div>
{{/partial}}
{{> layout}}
