{{#partial "content"}}
<p>List of pets</p>
<ul>
  {{#each pets}}
  <li><a href="/pet/edit/{{id}}">{{name}}</a></li>
  {{/each}}
</ul>
<a class="button" href="/pet/new" method="get">New Pet</a>
{{/partial}}
{{> petstore/layout}}
