<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Manage components</h4>
  </div>
  <div class="panel-body">
    Select menu.
  </div>
  <ul class="list-group">
    <li class="list-group-item"><a href="#route">Router</a></li>
    <li class="list-group-item"><a href="#template">Template</a></li>
    <li class="list-group-item"><a href="#api">API</a></li>
  </ul>
</div>
