<div class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>
      <button class="btn btn-back navbar-btn" type="button">Back</button>
    </li>
    {{#unless workspace.default}}
    <li>
      <button class="btn btn-primary btn-save navbar-btn" type="button"><i class="icon-save icon-large"></i>Save</button>
      <span class="label label-comm-status"></span>
    </li>
    {{/unless}}
  </ul>
</div>

<h4>{{template.path}}</h4>
<textarea name="hbs">{{template.hbs}}</textarea>
