<div class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>
      <button class="btn btn-back navbar-btn" type="button">Back</button>
    </li>
    <li>
      <button class="btn btn-primary btn-save navbar-btn" type="button"><i class="icon-save icon-large"></i>Save</button>
      <span class="label label-comm-status"></span>
    </li>
  </ul>
</div>

<h4>{{path}}</h4>
<textarea name="hbs">{{hbs}}</textarea>
