<div class="panel panel-info">
  <div class="panel-heading">
    <h4>List of template</h4>
  </div>
  <div class="panel-body">
    <p>{{t "messages/lead-template-list"}}</p>
    <div class="row">
      <div class="col-md-12">
        {{#unless workspace/default}}
        <a class="fa-stack btn-add">
          <i class="fa fa-circle-o fa-stack-2x"></i>
          <i class="fa fa-plus fa-stack-1x"></i>
        </a>
        {{/unless}}
        <a class="pull-right btn btn-default btn-disp">
          <i class="fa fa-list"></i>{{mode}} view
        </a>
      </div>
    </div>
    {{#if-eq mode "tree"}}
    <ol class="breadcrumb">
      <li><a href="#{{workspace.name}}/template">[root]</a></li>
      {{breadcrumb workspace.name path}}
    </ol>
    {{/if-eq}}
  </div>
  <ul class="list-group list-templates">
    {{#each templates}}
      {{#include parent=..}}
        {{> template/_list_item}}
      {{/include}}
    {{/each}}
  </ul>
</div>

<div class="modal fade" id="modal-template-copy" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-btitle">Copy template</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" name="src_path"/>
        <input type="text" name="dest_path" class="form-control"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-copy">Copy</button>
      </div>
    </div>
  </div>
</div>
