<li class="list-group-item">
  <form id="form-template-new" class="form-inline" role="form">
    <button type="button" class="btn btn-default btn-file-type" name="type" value="file">
      <i class="fa fa-fw fa-file-o"></i>
    </button>
    <div class="form-group">
      <input type="text" name="path" class="form-control"/>
    </div>
  </form>
</li>
