{{#partial "content"}}
<h1>大エリア</h1>

<div id="accordion" class="list-group">
  {{#each hotpepper-large-area/large_area}}
  <div class="list-group-item">
    <a href="/hotpepper/middle_area?large_area={{code}}" class="btn">{{name}}</a>
  </div>
  {{/each}}
</div>
{{/partial}}
{{> layout}}
