{{#partial "content"}}
<h1>中エリア</h1>
<ul class="list-group">
  {{#each hotpepper-middle-area/middle_area}}
  <li class="list-group-item"><a href="/hotpepper/gourmet?large_area={{../large_area}}&middle_area={{code}}">{{name}}</a></li>
  {{/each}}
</ul>
{{/partial}}
{{> layout}}
