{{#partial "content"}}
<p>Categories</p>
<ul>
  {{#each categories}}
  <li><a href="/category/edit/{{id}}">{{name}}</a></li>
  {{/each}}
</ul>
<a class="button" href="/category/new" method="get">New Category</a>
{{/partial}}
{{> petstore/layout}}
