{{#partial "content"}}
<form action="/category/create" method="POST" class="form">
  <fieldset class="form-group">
    <label for="name">Name</label>
    <input id="name" name="category[name]" type="text" placeholder="name" class="form-control" value="{{category.name}}"/>
    {{error.name}}
  </fieldset>
  <button class="btn btn-primary" type="submit">Save</button>
</form>
{{/partial}}
{{> petstore/layout}}
