<div class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>
      <button class="btn btn-back navbar-btn" type="button">Back</button>
    </li>
    <li>
      <button class="btn btn-primary btn-save navbar-btn" type="button"><i class="icon-save icon-large"></i>Save</button>
    </li>
  </ul>
</div>
<textarea name="hbs">{{hbs}}</textarea>
