<li class="list-group-item">
  <form id="form-template-new" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" name="path" class="form-control"/>
    </div>
  </form>
</li>
