{{#partial "content"}}
<p>Tags</p>
<ul>
  {{#each tags}}
  <li><a href="/tag/edit/{{id}}">{{name}}</a></li>
  {{/each}}
</ul>
<a class="button" href="/tag/new" method="get">New tag</a>
{{/partial}}
{{> petstore/layout}}
