{{#partial "content"}}
<h1>グループ編集</h1>
<form action="/groups/save/{{group.result.item.id}}" method="post">
  <div class="row">
    <div class="col-md-3">ID</div>
    <div class="col-md-9"><input type="text" name="id" class="form-control" value="{{group.result.item.id}}"/></div>
  </div>
  <div class="row">
    <div class="col-md-3">名前</div>
    <div class="col-md-9"><input type="text" name="name" class="form-control" value="{{group.result.item.name}}"/></div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="btn-group">
        <button type="submit" class="btn btn-info btn-info-dark"><i class="icon-save"></i></button>
        <button type="submit" class="btn btn-info">Save</button>
      </div>
    </div>
  </div>
</form>
{{/partial}}
{{>layout}}