<div class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>
      <button class="btn btn-back navbar-btn" type="button">Back</button>
    </li>
    <li>
      <button class="btn btn-primary btn-save navbar-btn" type="button"><i class="icon-save icon-large"></i>Save</button>
    </li>
  </ul>
</div>

<div class="row">
<div id="marga-blockly" class="col-md-12"></div>

<xml id="marga-toolbox" style="display: none">
  <block type="marga"></block>
  <block type="call_api"></block>
  <block type="api_list"></block>
  <block type="api"></block>
  <block type="render"></block>
  <block type="redirect"></block>
  <block type="if_success"></block>
  <block type="switch_ab"></block>
</xml>
