<li class="list-group-item">
  <form id="form-route-new" class="form-inline" role="form">
    <div class="form-group">
      <select name="route-method" class="form-control">
        <option value="GET">GET</option>
        <option value="POST">POST</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" name="route-path" class="form-control"/>
    </div>
  </form>
</li>
