.darzana-debug th, .darzana-debug tr {
    vertical-align: top;
    padding: .5em;
    margin: 0;
    border: 1px solid #d1dbbd;
}
.darzana-debug th {
    font-weight: bold;
    text-align: center;
}

.darzana-debug table {
    width: 100%;
}
