/* Using color scheme
 * https://kuler.adobe.com/bollywood-color-theme-1747855/
 */

#content {
    margin-top: 70px;
}

#header-toolbar {
    background-color: #911247;
    color: #f2bdef;
}

#header-toolbar .navbar-brand {
    color: #f2bdef;
}

.CodeMirror {border: 1px solid black;}
.cm-mustache {color: #0ca;}
.navbar-btn {
    margin-left: 20px;
    margin-right: 20px;
}

.btn-delete {
    color: #bdc3c7;
    text-decoration: none;
}

.btn-delete:hover {
    cursor: pointer;
    color: #e74c3c;
    text-decoration: none;
}

.btn-add {
    color: #2ecc71;
    text-decoration: none;
}

.btn-add:hover {
    cursor: pointer;
    color: #27ae60;
    text-decoration: none;
}

.btn-active {
    color: #2980B9;
    text-decoration: none;
}

.btn-active:hover {
    cursor: pointer;
    color: #3490DB;
    text-decoration: none;
}

.btn-merge {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-decoration: none;
}

.btn-merge:hover {
    cursor: pointer;
    color: #ecf0f1;
    background-color: #34495e;
    text-decoration: none;
}

.select-container {
    float: left;
    width: 100%;
    margin-right: -120px
}

.select-container-input {
    float: left;
    width: 50%;
    margin-right: -120px
}

.select-content {
    margin-right: 120px;
}

.textbox-workspace {
    width: 100%
}

.text-workspace {
    font-size: 16pt;
}

.navbar-action {
    background-image: url(../img/canstockphoto4925697.jpg);
    background-repeat: repeat-x;
    background-size: contain;
}

.panel-default > .panel-heading {
    background-image: url(../img/canstockphoto4925697.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.panel-default > .panel-heading h4 {
    text-shadow: 1px 1px 15px #990033;
    color: #ffffff;
    font-weight: bold;
}

.panel {
    border-radius: 10px;
    border-top: none;
}

#page-menu .clone-url-box input {
    background-color: #fff;
}

